body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* html 
{
    scroll-behavior: smooth;
} */

.list li
{
    padding: 5px;
    margin-bottom: 6px;
    /* color: #ffffff; */
    /* background-color: #000000; */
    background-color: rgb(216, 213, 213);
    border-radius: 10px;
    width: 80%;
}

.white
{
    padding: 30px;
    background: #ffffff;
    border-radius: 50px;
}

/*              Header CSS           */


#header
{
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/background.jpg);
    background-position: center;
    background-size: cover; /*      Image uses it full size    */
    background-attachment: fixed;
}

.user-box
{
    top: 13%;
    left: 50%;
    transform: translate(-50%, -20%);
    position: absolute;
}

.user-box img
{
/*    border-radius: 50%;*/
    width: 70%;
    border: 2px solid #03470c;
}

/* #378ec0 */

.user-box h1
{
    color: #fff;
    font-weight: bold;
    margin: 10px;
    text-shadow: 2px 2px rgb(119, 113, 113, 0.7);
}

.user-box p
{
    color: #fff;
    text-shadow: 2px 2px rgb(119, 113, 113, 0.7);
}

/* 
.back
{
    background: rgb(216, 213, 213);
    background: #f5f5f5;
} */


/*            About        */

.about
{
    margin-bottom: -120px;
    padding-top: 60px;
    /* padding-bottom: 20px; */
}


.fullbodyimage
{
    height: 400px;
}

/*    Social Icaons      */

.social-icons
{
    top: 50%;
    position: sticky;
    transform: translateY(-50%);
    /* color: green; */
    z-index: 1;
    width: 80%;
}

.social-icons ul
{
    padding: initial;
}

.social-icons ul li
{
    height: 40px;
    width: 40px;
    padding-top: 5px;
    padding-left: 12px;
    padding-bottom: 5px;
    /* padding: 5px 20px 5px 15px; */
    margin-bottom: 5px;
    color: white;
    background-color: #000000;
    border-radius: 10px;
}

.social-icons ul li:hover
{
    padding-left: 25px;
    width: 80px;
    transition: 0.5s;
}

/*       Navigation Menu       */

.nav-bar{
    top: 0;
    position: sticky;
    z-index: 2;

}

.navbar
{
    background: linear-gradient(rgba(102, 101, 101, 0.5), rgb(255, 255, 255, 0.0));
}

.nav-bar .fa-bars
{
    font-size: 35px;
}

.nav-bar .fa-user-circle
{
    font-size: 35px;
    color: #000000 !important;
}

.navbar-toggler
{
    outline: none !important;
}

.navbar-nav
{
    float: right;
    text-align: center;
}

.nav-link
{
    color: rgb(14, 13, 13) !important;
}

.nav-link:hover
{
    color: gray !important;
}

/*        Work Experience       */

.work
{
    padding-top: 20px;
    padding-bottom: 30px;
}

.work h3
{
    padding-top: 10px;
    padding-bottom: 20px;
}

.position
{
    padding-top: 35px;
}

/*       Education           */

.education
{
    /* padding-top: 20px; */
    padding-bottom: 50px;
}

.education h6
{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    background-color: #000000;
    border-radius: 0px 17px 0px 0px;
}

.education li
{
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    border-radius: 0px 20px;
    margin-bottom: 8px;
    width: 80%;
}

.education p
{
    padding-left: 10px;
}


/*          Contact           */

.contact
{
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-image: url(../img/contactbackground.jpg); */
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/contactbackground6.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

.contact_info
{
    padding-top: 30px;
    padding-bottom: 20px;
}